*{
 margin: 0px;
}
header h1{
    color: white;
    font-size: xx-large;
    padding-top: 20px;
    text-transform: uppercase;
}
.box{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 35px;
    position: relative;
    font-size: 13px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 35px;
}
header img{
    height: 40px;
    width: 40px;
    background-color: white;
    float: left;
    margin: 10px;
}
header a:hover{
    background-color: tomato;
}
header{
     background-color: rgb(6, 6, 51);
     width: 100%;
     height: 200px;
     text-align: center;
     padding: 0px;
     color: #fff;
}

/*courses*/
.course{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 100px;
}
.course h1{
    font-size: 36px;
    font-family: sans-serif;
}
.course p {
    color: grey;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    line-height: 22px;
}
.row{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}
.course-col{
    padding: 12px 20px;
    flex-basis: 31%;
    margin-bottom: 5%;
    background-color: #fff3f3;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col h1{
    text-align: center;
    font-weight: 600;
    margin: 10px;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px; color: #f44;
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

